@font-face {
  font-family: 'product-sans';
  src: url('./static/fonts/Product\ Sans\ Regular.ttf');
}

@font-face {
  font-family: 'vcr-osd-mono';
  src: url('./static/fonts/VCR_OSD_MONO.ttf');
}

@font-face {
  font-family: 'barlow-regular';
  src: url('./static/fonts/Barlow-Regular.ttf');
}

@font-face {
  font-family: 'barlow-medium';
  src: url('./static/fonts/Barlow-Medium.ttf');
}

html {
  height: -webkit-fill-available;
}

body {
  margin: 0;
  font-family: 'barlow-medium', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh !important;
}
